<% if user_signed_in? %>
  <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to 'Log in', new_user_session_path %>
  <%= link_to 'Register', new_user_registration_path %>
<% end %>


<h1>Homepage</h1>
<p>Find me in app/views/pages/home.html.erb</p>

<h1><%= link_to 'Blog Posts', blogs_path %></h1>
<p><%= @posts.inspect %></p>

<h1>Skills</h1>
<p><%= @skills.inspect %></p>

<h1><%= link_to 'Portfolio', portfolios_path %></h1>
<p><%= @portfolio_items.inspect %></p>