<!DOCTYPE html>
<html>
  <head>
    <title><%= @page_title %></title>
    <%= csrf_meta_tags %>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Faisal Hassan Portfolio">
    <meta name="author" content="Faisal Hassan">
    <meta name="keywords" content="<%= @seo_keywords %>">

    <%= favicon_link_tag 'favicon.ico' %>   
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    
    <% if current_user.is_a?(User) %>
      <%= link_to 'Account', edit_user_registration_path %>
      <%= link_to 'Log out', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Log in', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>

    <%= yield %>
    
    <% if session[:source] %>
      <p>Thanks for visiting from <%= session[:source] %></p>
    <% end %>
  </body>
</html>
